################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Senthil.Customer.Api.Sample/.vs
/Senthil.Customer.Api.Sample/Customer.Web.Api.Tests/obj/Debug
/Senthil.Customer.Api.Sample/Customer.Web.Api.Tests/bin/Debug
/Senthil.Customer.Api.Sample/Customer.WebApp.Models/bin/Debug
/Senthil.Customer.Api.Sample/Customer.WebApp.Models/obj/Debug
/Senthil.Customer.Api.Sample/Customer.WebApp.Repository/bin/Debug
/Senthil.Customer.Api.Sample/Customer.WebApp.Repository/obj/Debug
/Senthil.Customer.SampleApp/.vs
/Senthil.Customer.SampleApp/Customer.WebApp/bin
/Senthil.Customer.SampleApp/Customer.WebApp/obj/Debug
/Senthil.Customer.SampleApp/Customer.WebApp.Tests/bin/Debug
/Senthil.Customer.SampleApp/Customer.WebApp.Tests/obj/Debug
/.vs/SampleMVC_WebAPI_Application/v17
/Senthil.Customer.SampleApp/packages
/Senthil.Customer.SampleApp/Customer.WebApp.Tests/.vs
/.vs
/Senthil.Customer.Api.Sample/packages
